<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/angular-material.css" />
    <style>
        .md-toolbar-tools h1 {
            font-size: inherit;
            font-weight: inherit;
            margin: inherit;
        }

        md-sidenav.md-locked-open {
            width: 150px !important;
            min-width: 150px !important;
            max-width: 150px !important;
        }
    </style>
    <!-- Angular Material Dependencies -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
</head>
<body layout="row">
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("IRCTC", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("SearchTrains", "SearchTrains", "Train")</li>
                        <li>@Html.ActionLink("About", "About", "Train")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Train")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
