@model MvcApp02.Models.RestaurantReview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RestaurantReview</legend>

    <div class="display-label">ReviewerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReviewerName)
    </div>

    <div class="display-label">Rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">ReviewBody</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReviewBody)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "List", new { restaurantId = Model.RestaurantId})
</p>
